Package: com.fantasticstore.altdeamon
Version: 1.0
Architecture: iphoneos-arm
Maintainer: JailbreakNews4U <Imsorrydaddy2@gmail.com>
Depends: firmware (>=12.2)
Filename: ./debs/com.fantastic.altdeamon_1.0_iphoneos-arm.deb
Size: 873258 
MD5sum: 1bbb0546d88a0011cf1311acc66afca4
SHA1: 76a657be16ab1f7ee56dfa5297e6c21cc43f46df
SHA256: fbf46faaeb7a3ee3d9d6c1071394a12bb0ccb1832213440ce5c5a9347c9950b6
Section: Tweaks
Description: AltDaemon allows AltStore to install and refresh apps without a computer.
Author: JailbreakNews4U <Imsorrydaddy2@gmail.com>
Name: Altdeamon 